/* test */

body{
    background-image: url(../images/prism/prism.png);
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    position: relative;
}

header{
    position: fixed;
    top: 0;
    background-color: #aaa;
    border-bottom: 5px solid #000;    
    width: 100%;
    height: 15%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.headfoot{
    margin: auto;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    width: 72%;
    height:  100%;
}
#name {
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    float: left;
    color: #000;
    background-color: gold;
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    width: 28%;
    margin: auto;
    padding: 22px 0 0 0;
    height:  100%;
    font-family: Arial, Helvetica, sans-serif;
}

#headfootpad{
    height: 100%;
    width: 40%;
    float: left;
    padding: 0;
    margin: 0
}

nav{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 16px;
    float: left;
    height: 100%;
    width: 32%;
    margin: 0;
    padding: 0;
}

.active{
    font-weight: bold;
}

.navlink{
    border-radius: 15px;
    box-sizing: border-box;
    float: left;
    height: 100%;
    width: 33%;
    text-align: center;
    margin: auto;
    padding: 32px 0 0;

}

a.navlink:hover{
    background-color: #bbb;
}

a.navlink:link{
    text-decoration: none;
    color: #444;
}

a.navlink:visited{
    color: #444;
}

a.navlink:active{
    color: gold;
}

.vl{
    box-sizing: border-box;
    height: 10px;
    width: .33%;
    margin: 35px 0;
    padding: 0;
    float: left;
    background-color: #888;
}

.main-body{
    box-sizing: border-box;
    width: 72%;
    height: 70%;
    margin: 10% auto;
    background-color: tan;
    border-radius: 15px;
    padding: 38px 5%;
}

.main-port-body{
    width: 860px;
    height: 760px;
    margin: 50px auto;
    background-color: tan;
    border-radius: 15px;
    padding: 38px 50px;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #999;
    padding: 0;
    margin: 25px 0;
}

#profpic{
    float: left;
    width: 125px;
    height: 150px;
    margin: 0 20px 20px 0;
}

#bio{
    float: both;
}

.main-h1 {
    /* border: 1px solid chartreuse; */
    font-size: 24px;
    line-height: 24px;
    font-family: helvetica, arial, sans-serif;  
    margin: 0;
    padding: 0;
}

footer{
    position: fixed;
    bottom: 0;
    background-color: #ccc;
    height: 7%;
    width: 100%;
    border-top: 5px solid black;
}

#cpyrt{
    width: 25%;
    margin: auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    line-height: 12px;
    padding: 14px 0 0 0;
    height: 100%;
}

.row{
    position: relative;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    margin: 0 0 25px;
    padding: 0;

}
.card{
    float: left;
    position: relative;
    width: 250px;
    height: 100%;
    margin: 0;
    padding: 0;
    /* text-align: center; */
}

.imagelabel{
    position: absolute;
    bottom: 10%;
    height: 20%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: gold;
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.portspace {
    float: left;
    box-sizing: border-box;
    height: 100%;
    width: 55px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 16px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 10%;
    background-color: forestgreen;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  input[type=text]:focus {
    background-color: rgb(255, 255, 160);
  }

  input[type=text]:hover {
    background-color: rgb(255, 255, 96);
  }

  input[type=text]::placeholder {
    color: #ccc;
  }

  #message{
      height: 200px;
  }

  .portlink:hover{
    webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
  }
